In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
train_df = pd.read_csv(r"C:\Users\bhavy\Desktop\CS-Datasets\Cross Selling\Train.csv")

C:\Users\bhavy\AppData\Local\Temp\ipykernel_21572\1563150990.py:1: DtypeWarning: Columns (5,8,11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  train_df = pd.read_csv(r"C:\Users\bhavy\Desktop\CS-Datasets\Cross Selling\Train.csv")

In [5]:
test_df = pd.read_csv(r"C:\Users\bhavy\Desktop\CS-Datasets\Cross Selling\Test.csv")

C:\Users\bhavy\AppData\Local\Temp\ipykernel_21572\1818281307.py:1: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  test_df = pd.read_csv(r"C:\Users\bhavy\Desktop\CS-Datasets\Cross Selling\Test.csv")

In [6]:
new_column_names = {
    "fecha_dato": "Data_Partition_Date",
    "ncodpers": "Customer_ID",
    "ind_empleado": "Employee_Status",
    "pais_residencia": "Country_of_Residence",
    "sexo": "Gender",
    "age": "Age",
    "fecha_alta": "Account_Start_Date",
    "ind_nuevo": "New_Customer_Indicator",
    "antiguedad": "Seniority_Months",
    "indrel": "Customer_Relationship_Type",
    "ult_fec_cli_1t": "Last_Primary_Customer_Date",
    "indrel_1mes": "Initial_Customer_Type",
    "tiprel_1mes": "Initial_Relationship_Type",
    "indresi": "Residence_Indicator",
    "indext": "Foreigner_Indicator",
    "conyuemp": "Employee_Spouse_Indicator",
    "canal_entrada": "Joining_Channel",
    "indfall": "Deceased_Indicator",
    "tipodom": "Address_Type",
    "cod_prov": "Province_Code",
    "nomprov": "Province_Name",
    "ind_actividad_cliente": "Customer_Activity_Indicator",
    "renta": "Household_Income",
    "segmento": "Customer_Segment",
    "ind_ahor_fin_ult1": "Savings_Account",
    "ind_aval_fin_ult1": "Guarantee_Account",
    "ind_cco_fin_ult1": "Current_Account",
    "ind_cder_fin_ult1": "Derivative_Account",
    "ind_cno_fin_ult1": "Payroll_Account",
    "ind_ctju_fin_ult1": "Junior_Account",
    "ind_ctma_fin_ult1": "Mas_Particular_Account",
    "ind_ctop_fin_ult1": "Particular_Account",
    "ind_ctpp_fin_ult1": "Particular_Plus_Account",
    "ind_deco_fin_ult1": "Short_term_Deposits",
    "ind_deme_fin_ult1": "Medium_term_Deposits",
    "ind_dela_fin_ult1": "Long_term_Deposits",
    "ind_ecue_fin_ult1": "E_Account",
    "ind_fond_fin_ult1": "Funds_Account",
    "ind_hip_fin_ult1": "Mortgage_Account",
    "ind_plan_fin_ult1": "Pension_Account",
    "ind_pres_fin_ult1": "Loan_Account",
    "ind_reca_fin_ult1": "Tax_Account",
    "ind_tjcr_fin_ult1": "Credit_Card_Account",
    "ind_valo_fin_ult1": "Securities_Account",
    "ind_viv_fin_ult1": "Home_Account",
    "ind_nomina_ult1": "Payroll_Account",
    "ind_nom_pens_ult1": "Pension_Account",
    "ind_recibo_ult1": "Direct_Debit"
}

# Rename the columns in the DataFrame
train_df.rename(columns=new_column_names, inplace=True)

In [7]:
new_column_names = {
    "fecha_dato": "Data_Partition_Date",
    "ncodpers": "Customer_ID",
    "ind_empleado": "Employee_Status",
    "pais_residencia": "Country_of_Residence",
    "sexo": "Gender",
    "age": "Age",
    "fecha_alta": "Account_Start_Date",
    "ind_nuevo": "New_Customer_Indicator",
    "antiguedad": "Seniority_Months",
    "indrel": "Customer_Relationship_Type",
    "ult_fec_cli_1t": "Last_Primary_Customer_Date",
    "indrel_1mes": "Initial_Customer_Type",
    "tiprel_1mes": "Initial_Relationship_Type",
    "indresi": "Residence_Indicator",
    "indext": "Foreigner_Indicator",
    "conyuemp": "Employee_Spouse_Indicator",
    "canal_entrada": "Joining_Channel",
    "indfall": "Deceased_Indicator",
    "tipodom": "Address_Type",
    "cod_prov": "Province_Code",
    "nomprov": "Province_Name",
    "ind_actividad_cliente": "Customer_Activity_Indicator",
    "renta": "Household_Income",
    "segmento": "Customer_Segment"
}

# Rename the columns in the DataFrame
test_df.rename(columns=new_column_names, inplace=True)

# Griffin Comment: For our own convenience, we are going to translate each column from Spanish to English. We both did this in our own way, but our objective– that is, to make the data more readable– is the same.

In [8]:
pd.set_option('display.max_columns', None)

In [9]:
train_df.head(5)

,Data_Partition_Date,Customer_ID,Employee_Status,Country_of_Residence,Gender,Age,Account_Start_Date,New_Customer_Indicator,Seniority_Months,Customer_Relationship_Type,Last_Primary_Customer_Date,Initial_Customer_Type,Initial_Relationship_Type,Residence_Indicator,Foreigner_Indicator,Employee_Spouse_Indicator,Joining_Channel,Deceased_Indicator,Address_Type,Province_Code,Province_Name,Customer_Activity_Indicator,Household_Income,Customer_Segment,Savings_Account,Guarantee_Account,Current_Account,Derivative_Account,Payroll_Account,Junior_Account,Mas_Particular_Account,Particular_Account,Particular_Plus_Account,Short_term_Deposits,Medium_term_Deposits,Long_term_Deposits,E_Account,Funds_Account,Mortgage_Account,Pension_Account,Loan_Account,Tax_Account,Credit_Card_Account,Securities_Account,Home_Account,Payroll_Account,Pension_Account,Direct_Debit
0,2015-01-28,1375586,N,ES,H,35,2015-01-12,0.0,6,1.0,NaN,1.0,A,S,N,NaN,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
1,2015-01-28,1050611,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,S,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
2,2015-01-28,1050612,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHE,N,1.0,13.0,CIUDAD REAL,0.0,122179.11,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
3,2015-01-28,1050613,N,ES,H,22,2012-08-10,0.0,35,1.0,NaN,1.0,I,S,N,NaN,KHD,N,1.0,50.0,ZARAGOZA,0.0,119775.54,03 - UNIVERSITARIO,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0
4,2015-01-28,1050614,N,ES,V,23,2012-08-10,0.0,35,1.0,NaN,1.0,A,S,N,NaN,KHE,N,1.0,50.0,ZARAGOZA,1.0,NaN,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0

In [10]:
test_df.head(5)

,Data_Partition_Date,Customer_ID,Employee_Status,Country_of_Residence,Gender,Age,Account_Start_Date,New_Customer_Indicator,Seniority_Months,Customer_Relationship_Type,Last_Primary_Customer_Date,Initial_Customer_Type,Initial_Relationship_Type,Residence_Indicator,Foreigner_Indicator,Employee_Spouse_Indicator,Joining_Channel,Deceased_Indicator,Address_Type,Province_Code,Province_Name,Customer_Activity_Indicator,Household_Income,Customer_Segment
0,2016-06-28,15889,F,ES,V,56,1995-01-16,0,256,1,NaN,1.0,A,S,N,N,KAT,N,1,28.0,MADRID,1,326124.90,01 - TOP
1,2016-06-28,1170544,N,ES,H,36,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KAT,N,1,3.0,ALICANTE,0,NA,02 - PARTICULARES
2,2016-06-28,1170545,N,ES,V,22,2013-08-28,0,34,1,NaN,1.0,A,S,N,NaN,KHE,N,1,15.0,"CORUÑA, A",1,NA,03 - UNIVERSITARIO
3,2016-06-28,1170547,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,8.0,BARCELONA,0,148402.98,03 - UNIVERSITARIO
4,2016-06-28,1170548,N,ES,H,22,2013-08-28,0,34,1,NaN,1.0,I,S,N,NaN,KHE,N,1,7.0,"BALEARS, ILLES",0,106885.80,03 - UNIVERSITARIO

In [11]:
# Convert the date_column to datetime dtype
train_df['Data_Partition_Date'] = pd.to_datetime(train_df['Data_Partition_Date'])

# Check the data type after conversion
print(train_df['Data_Partition_Date'].dtype)  # Output: datetime64[ns]

# Griffin Comment: Converting to datetime is a good idea to make this column more readable.

datetime64[ns]

In [12]:
# Convert the date_column to datetime dtype
test_df['Data_Partition_Date'] = pd.to_datetime(test_df['Data_Partition_Date'])

# Check the data type after conversion
print(test_df['Data_Partition_Date'].dtype)  # Output: datetime64[ns]

datetime64[ns]

In [13]:
# Convert Customer_ID to numeric (integer) type
train_df['Customer_ID_numeric'] = pd.to_numeric(train_df['Customer_ID'], errors='coerce')

# Find the min and max Customer_ID as integers
min_id = train_df['Customer_ID_numeric'].min()
max_id = train_df['Customer_ID_numeric'].max()

print("Min Customer_ID (as integer):", min_id)
print("Max Customer_ID (as integer):", max_id)

Min Customer_ID (as integer): 15889
Max Customer_ID (as integer): 1553689

In [14]:
# Check number of unique Customer_IDs
unique_customer_ids = train_df['Customer_ID_numeric'].nunique()
print(f"Number of unique Customer_IDs: {unique_customer_ids}")

Number of unique Customer_IDs: 956645

In [15]:
# Count the frequency of each Customer_ID
customer_id_counts = train_df['Customer_ID'].value_counts()

# Display the top 10 most frequent Customer_IDs
print(customer_id_counts.head(10))

# Griffin Comment: Great idea to check the frequency of each Customer_ID. This will help us understand the data better, and help us especially when doing things like mean and median based approaches.

1375586    17
42515      17
42636      17
42684      17
42685      17
42686      17
42690      17
42695      17
42697      17
42704      17
Name: Customer_ID, dtype: int64

In [16]:
# Distribution of the number of records per Customer_ID
record_distribution = customer_id_counts.value_counts()

# Display the distribution
print(record_distribution)

# Griffin Comment: Another good way to gather information about the customer base, which will be especially useful when doing EDA.

17    605464
11    190917
8      28061
9      23470
7      16098
10     14911
1      10472
6      10012
5       8864
4       7297
2       7256
3       7000
16      5756
15      5548
13      5286
14      5213
12      5020
Name: Customer_ID, dtype: int64

In [17]:
# Filter to find customers with more than, say, 1000 records
frequent_customers = customer_id_counts[customer_id_counts > 10]

print(frequent_customers)

1375586    17
42515      17
42636      17
42684      17
42685      17
           ..
182662     11
159536     11
165886     11
165889     11
159563     11
Name: Customer_ID, Length: 823204, dtype: int64

In [18]:
# Assuming you want to isolate records for a specific Customer_ID, for example, 1375586
specific_customer_id = 1375586

# Filter the dataframe for the specific Customer_ID
customer_records_df = train_df[train_df['Customer_ID'] == specific_customer_id]

# Display the filtered dataframe
print(customer_records_df)

         Data_Partition_Date  Customer_ID Employee_Status  \
0                 2015-01-28      1375586               N
1047196           2015-02-28      1375586               N
1681276           2015-03-28      1375586               N
2299297           2015-04-28      1375586               N
2714121           2015-05-28      1375586               N
3343336           2015-06-28      1375586               N
4581564           2015-07-28      1375586               N
5075380           2015-08-28      1375586               N
6258167           2015-09-28      1375586               N
6572487           2015-10-28      1375586               N
7786119           2015-11-28      1375586               N
8958911           2015-12-28      1375586               N
9319634           2016-01-28      1375586               N
10165891          2016-02-28      1375586               N
11058687          2016-03-28      1375586               N
12532037          2016-04-28      1375586               N
13226584          2016-05-28      1375586               N

         Country_of_Residence Gender  Age Account_Start_Date  \
0                          ES      H   35         2015-01-12
1047196                    ES      H   35         2015-01-12
1681276                    ES      H   35         2015-01-12
2299297                    ES      H   35         2015-01-12
2714121                    ES      H   35         2015-01-12
3343336                    ES      H   35         2015-01-12
4581564                    ES      H   35         2015-01-12
5075380                    ES      H   36         2015-01-12
6258167                    ES      H   36         2015-01-12
6572487                    ES      H   36         2015-01-12
7786119                    ES      H   36         2015-01-12
8958911                    ES      H   36         2015-01-12
9319634                    ES      H   36         2015-01-12
10165891                   ES      H   36         2015-01-12
11058687                   ES      H   36         2015-01-12
12532037                   ES      H   36         2015-01-12
13226584                   ES      H   36         2015-01-12

          New_Customer_Indicator Seniority_Months  Customer_Relationship_Type  \
0                            0.0                6                         1.0
1047196                      0.0                6                         1.0
1681276                      0.0                6                         1.0
2299297                      0.0                6                         1.0
2714121                      0.0                6                         1.0
3343336                      0.0                6                         1.0
4581564                      0.0                6                         1.0
5075380                      0.0                7                         1.0
6258167                      0.0                8                         1.0
6572487                      0.0                9                         1.0
7786119                      0.0               10                         1.0
8958911                      0.0               11                         1.0
9319634                      0.0               12                         1.0
10165891                     0.0               13                         1.0
11058687                     0.0               14                         1.0
12532037                     0.0               15                         1.0
13226584                     0.0               16                         1.0

         Last_Primary_Customer_Date Initial_Customer_Type  \
0                               NaN                   1.0
1047196                         NaN                   1.0
1681276                         NaN                   1.0
2299297                         NaN                   1.0
2714121                         NaN                   1.0
3343336                         NaN                   1.0
4581564                         NaN                   1.0
5075380                         NaN                   1.0
6258167                         NaN                   1.0
6572487                         NaN                   1.0
7786119                         NaN                   1.0
8958911                         NaN                   1.0
9319634                         NaN                   1.0
10165891                        NaN                   1.0
11058687                        NaN                   1.0
12532037                        NaN                   1.0
13226584                        NaN                   1.0

         Initial_Relationship_Type Residence_Indicator Foreigner_Indicator  \
0                                A                   S                   N
1047196                          A                   S                   N
1681276                          A                   S                   N
2299297                          A                   S                   N
2714121                          A                   S                   N
3343336                          A                   S                   N
4581564                          A                   S                   N
5075380                          A                   S                   N
6258167                          I                   S                   N
6572487                          I                   S                   N
7786119                          I                   S                   N
8958911                          I                   S                   N
9319634                          A                   S                   N
10165891                         A                   S                   N
11058687                         A                   S                   N
12532037                         I                   S                   N
13226584                         A                   S                   N

         Employee_Spouse_Indicator Joining_Channel Deceased_Indicator  \
0                              NaN             KHL                  N
1047196                        NaN             KHL                  N
1681276                        NaN             KHL                  N
2299297                        NaN             KHL                  N
2714121                        NaN             KHL                  N
3343336                        NaN             KHL                  N
4581564                        NaN             KHL                  N
5075380                        NaN             KHL                  N
6258167                        NaN             KHL                  N
6572487                        NaN             KHL                  N
7786119                        NaN             KHL                  N
8958911                        NaN             KHL                  N
9319634                        NaN             KHL                  N
10165891                       NaN             KHL                  N
11058687                       NaN             KHL                  N
12532037                       NaN             KHL                  N
13226584                       NaN             KHL                  N

          Address_Type  Province_Code Province_Name  \
0                  1.0           29.0        MALAGA
1047196            1.0           29.0        MALAGA
1681276            1.0           29.0        MALAGA
2299297            1.0           29.0        MALAGA
2714121            1.0           29.0        MALAGA
3343336            1.0           29.0        MALAGA
4581564            1.0           29.0        MALAGA
5075380            1.0           29.0        MALAGA
6258167            1.0           29.0        MALAGA
6572487            1.0           29.0        MALAGA
7786119            1.0           29.0        MALAGA
8958911            1.0           29.0        MALAGA
9319634            1.0           29.0        MALAGA
10165891           1.0           29.0        MALAGA
11058687           1.0           29.0        MALAGA
12532037           1.0           29.0        MALAGA
13226584           1.0           29.0        MALAGA

          Customer_Activity_Indicator  Household_Income   Customer_Segment  \
0                                 1.0           87218.1  02 - PARTICULARES
1047196                           1.0           87218.1  02 - PARTICULARES
1681276                           1.0           87218.1  02 - PARTICULARES
2299297                           1.0           87218.1  02 - PARTICULARES
2714121                           1.0           87218.1  02 - PARTICULARES
3343336                           1.0           87218.1  02 - PARTICULARES
4581564                           1.0           87218.1  02 - PARTICULARES
5075380                           0.0           87218.1  02 - PARTICULARES
6258167                           0.0           87218.1  02 - PARTICULARES
6572487                           0.0           87218.1  02 - PARTICULARES
7786119                           0.0           87218.1  02 - PARTICULARES
8958911                           0.0           87218.1  02 - PARTICULARES
9319634                           0.0           87218.1  02 - PARTICULARES
10165891                          0.0           87218.1  02 - PARTICULARES
11058687                          1.0           87218.1  02 - PARTICULARES
12532037                          0.0           87218.1  02 - PARTICULARES
13226584                          1.0           87218.1  02 - PARTICULARES

          Savings_Account  Guarantee_Account  Current_Account  \
0                       0                  0                1
1047196                 0                  0                1
1681276                 0                  0                1
2299297                 0                  0                1
2714121                 0                  0                1
3343336                 0                  0                1
4581564                 0                  0                1
5075380                 0                  0                1
6258167                 0                  0                1
6572487                 0                  0                1
7786119                 0                  0                1
8958911                 0                  0                1
9319634                 0                  0                1
10165891                0                  0                1
11058687                0                  0                1
12532037                0                  0                1
13226584                0                  0                1

          Derivative_Account  Payroll_Account  Junior_Account  \
0                          0                0               0
1047196                    0                0               0
1681276                    0                0               0
2299297                    0                0               0
2714121                    0                0               0
3343336                    0                0               0
4581564                    0                0               0
5075380                    0                0               0
6258167                    0                0               0
6572487                    0                0               0
7786119                    0                0               0
8958911                    0                0               0
9319634                    0                0               0
10165891                   0                0               0
11058687                   0                0               0
12532037                   0                0               0
13226584                   0                0               0

          Mas_Particular_Account  Particular_Account  Particular_Plus_Account  \
0                              0                   0                        0
1047196                        0                   0                        0
1681276                        0                   0                        0
2299297                        0                   0                        0
2714121                        0                   0                        0
3343336                        0                   0                        0
4581564                        0                   0                        0
5075380                        0                   0                        0
6258167                        0                   0                        0
6572487                        0                   0                        0
7786119                        0                   0                        0
8958911                        0                   0                        0
9319634                        0                   0                        0
10165891                       0                   0                        0
11058687                       0                   0                        0
12532037                       0                   0                        0
13226584                       0                   0                        0

          Short_term_Deposits  Medium_term_Deposits  Long_term_Deposits  \
0                           0                     0                   0
1047196                     0                     0                   0
1681276                     0                     0                   0
2299297                     0                     0                   0
2714121                     0                     0                   0
3343336                     0                     0                   0
4581564                     0                     0                   0
5075380                     0                     0                   0
6258167                     0                     0                   0
6572487                     0                     0                   0
7786119                     0                     0                   0
8958911                     0                     0                   0
9319634                     0                     0                   0
10165891                    0                     0                   0
11058687                    0                     0                   0
12532037                    0                     0                   0
13226584                    0                     0                   0

          E_Account  Funds_Account  Mortgage_Account  Pension_Account  \
0                 0              0                 0                0
1047196           0              0                 0                0
1681276           0              0                 0                0
2299297           0              0                 0                0
2714121           0              0                 0                0
3343336           0              0                 0                0
4581564           0              0                 0                0
5075380           0              0                 0                0
6258167           0              0                 0                0
6572487           0              0                 0                0
7786119           0              0                 0                0
8958911           0              0                 0                0
9319634           0              0                 0                0
10165891          0              0                 0                0
11058687          0              0                 0                0
12532037          0              0                 0                0
13226584          0              0                 0                0

          Loan_Account  Tax_Account  Credit_Card_Account  Securities_Account  \
0                    0            0                    0                   0
1047196              0            0                    0                   0
1681276              0            0                    0                   0
2299297              0            0                    0                   0
2714121              0            0                    0                   0
3343336              0            0                    0                   0
4581564              0            0                    0                   0
5075380              0            0                    0                   0
6258167              0            0                    0                   0
6572487              0            0                    0                   0
7786119              0            0                    0                   0
8958911              0            0                    0                   0
9319634              0            0                    0                   0
10165891             0            0                    0                   0
11058687             0            0                    0                   0
12532037             0            0                    0                   0
13226584             0            0                    0                   0

          Home_Account  Payroll_Account  Pension_Account  Direct_Debit  \
0                    0              0.0              0.0             0
1047196              0              0.0              0.0             0
1681276              0              0.0              0.0             0
2299297              0              0.0              0.0             0
2714121              0              0.0              0.0             1
3343336              0              0.0              0.0             1
4581564              0              0.0              0.0             1
5075380              0              0.0              0.0             0
6258167              0              0.0              0.0             0
6572487              0              0.0              0.0             0
7786119              0              0.0              0.0             0
8958911              0              0.0              0.0             0
9319634              0              0.0              0.0             0
10165891             0              0.0              0.0             0
11058687             0              0.0              0.0             0
12532037             0              0.0              0.0             0
13226584             0              0.0              0.0             1

          Customer_ID_numeric
0                     1375586
1047196               1375586
1681276               1375586
2299297               1375586
2714121               1375586
3343336               1375586
4581564               1375586
5075380               1375586
6258167               1375586
6572487               1375586
7786119               1375586
8958911               1375586
9319634               1375586
10165891              1375586
11058687              1375586
12532037              1375586
13226584              1375586

### Next Column

In [19]:
train_df['Employee_Status'] = train_df['Employee_Status'].fillna('N')

In [20]:
test_df['Employee_Status'] = test_df['Employee_Status'].fillna('N')

In [21]:
train_df['Country_of_Residence'] = train_df['Country_of_Residence'].fillna('ES')

In [22]:
test_df['Country_of_Residence'] = test_df['Country_of_Residence'].fillna('ES')

In [23]:
train_df['Gender'] = train_df['Gender'].replace({'H': 'M', 'V': 'F'})

In [24]:
test_df['Gender'] = test_df['Gender'].replace({'H': 'M', 'V': 'F'})

In [25]:
total_non_null = 7424252 + 6195253
fp = 7424252 / total_non_null
mp = 6195253 / total_non_null

print(fp)
print(mp)

0.545119077382034
0.4548809226179659

In [26]:
fill_values = np.random.choice(['M', 'F'], size= train_df['Gender'].isna().sum(), p=[fp,mp])
train_df.loc[train_df['Gender'].isna(), 'Gender']= fill_values

In [27]:
fill_values = np.random.choice(['M', 'F'], size= test_df['Gender'].isna().sum(), p=[fp,mp])
test_df.loc[test_df['Gender'].isna(), 'Gender']= fill_values

### Lets check age datatype and unique values

In [28]:
unique_age_values = train_df['Age'].unique()
print(unique_age_values)

[' 35' ' 23' ' 22' ' 24' ' 65' ' 28' ' 25' ' 26' ' 53' ' 27' ' 32' ' 37'
 ' 31' ' 39' ' 63' ' 33' ' 55' ' 42' ' 58' ' 38' ' 50' ' 30' ' 45' ' 44'
 ' 36' ' 29' ' 60' ' 57' ' 67' ' 47' ' NA' ' 34' ' 48' ' 46' ' 54' ' 84'
 ' 15' ' 12' '  8' '  6' ' 83' ' 40' ' 77' ' 69' ' 52' ' 59' ' 43' ' 10'
 '  9' ' 49' ' 41' ' 51' ' 78' ' 16' ' 11' ' 73' ' 62' ' 66' ' 17' ' 68'
 ' 82' ' 95' ' 96' ' 56' ' 61' ' 79' ' 72' ' 14' ' 19' ' 13' ' 86' ' 64'
 ' 20' ' 89' ' 71' '  7' ' 70' ' 74' ' 21' ' 18' ' 75' '  4' ' 80' ' 81'
 '  5' ' 76' ' 92' ' 93' ' 85' ' 91' ' 87' ' 90' ' 94' ' 99' ' 98' ' 88'
 ' 97' '100' '101' '106' '103' '  3' '  2' '102' '104' '111' '107' '109'
 '105' '112' '115' '110' '116' '108' '113' 37 81 43 30 45 41 67 59 46 36
 47 69 39 44 40 38 34 42 31 35 48 60 54 51 33 62 50 11 57 55 85 80 70 32
 52 94 61 13 29 49 76 28 63 10 88 68 64 58 56 79 53 77 74 82 89 86 72 95
 66 71 78 75 27 22 23 65 21 26 98 19 84 83 90 12 14 87 93 18 92 99 17 97
 102 16 73 91 15 25 24 20 96 104 110 103 106 105 111 109 101 100 108 107 9
 113 2 112 3 8 7 6 126 115 117 163 116 5 4 127 114 164]

In [29]:
train_df['Age'] = train_df['Age'].astype(str).str.strip()

In [30]:
train_df['Age'] = pd.to_numeric(train_df['Age'], errors='coerce')

In [31]:
lower_limit = 15
upper_limit = 100

train_df_filtered = train_df[(train_df['Age'] >= lower_limit) & (train_df['Age'] <= upper_limit)]

In [32]:
train_df['Age'] = train_df_filtered['Age']

In [33]:
train_df['Age'] = train_df['Age'].fillna(58)

In [34]:
train_df['Age'] = train_df['Age'].replace(57.5, 58)

In [35]:
print(test_df['Age'].unique())

[ 56  36  22  51  41  33  23  43  63  62  32  58  71  31  30  59  45  37
  39  38  46  34  35  42  29  88  64  48  72  47  27  24  50  49  57  67
  25  28  13  40  53  54  26  11  21  60  44  55   7  52  66  90  73  78
  79  61  69  12   9  65  77  83  81  10   5  18  17  87  70  80  75  68
  74  16   4  82  91  76  19  15   6  97  89  85  86  14  20   8  84  95
  93 100  96  92  98  94 105 102 101 104 103  99   3   2 116 106 107 109
 110 117 108 113 111 112 114 164 118 127]

In [36]:
lower_limit = 15
upper_limit = 100

test_df_filtered = test_df[(test_df['Age'] >= lower_limit) & (test_df['Age'] <= upper_limit)]

In [37]:
test_df['Age'] = test_df_filtered['Age']

In [38]:
print(test_df['Age'].unique())

[ 56.  36.  22.  51.  41.  33.  23.  43.  63.  62.  32.  58.  71.  31.
  30.  59.  45.  37.  39.  38.  46.  34.  35.  42.  29.  88.  64.  48.
  72.  47.  27.  24.  50.  49.  57.  67.  25.  28.  nan  40.  53.  54.
  26.  21.  60.  44.  55.  52.  66.  90.  73.  78.  79.  61.  69.  65.
  77.  83.  81.  18.  17.  87.  70.  80.  75.  68.  74.  16.  82.  91.
  76.  19.  15.  97.  89.  85.  86.  20.  84.  95.  93. 100.  96.  92.
  98.  94.  99.]

In [39]:
test_df['Age'] = test_df['Age'].fillna(58)

## before working on Null values of "account start date", lets work on Seniority in months

In [40]:
train_df['Seniority_Months'] = train_df['Seniority_Months'].astype(str).str.strip()

In [41]:
train_df['Seniority_Months'] =pd.to_numeric(train_df['Seniority_Months'], errors='coerce')

In [42]:
# Assuming you want to keep values between 0 and 255 (adjust as needed)
lower_limit = 0
upper_limit = 255

train_df_filtered = train_df[(train_df['Seniority_Months'] >= lower_limit) & (train_df['Seniority_Months'] <= upper_limit)]

In [43]:
mean_seniority = train_df_filtered['Seniority_Months'].mean()
train_df['Seniority_Months'] = train_df['Seniority_Months'].fillna(mean_seniority)

In [44]:
train_df['Seniority_Months'] = train_df['Seniority_Months'].astype(int)

In [45]:
train_df['Seniority_Months'] = train_df['Seniority_Months'].replace(-999999, 77)

In [46]:
test_df['Seniority_Months'] = test_df['Seniority_Months'].replace(-999999, 77)

### Now seniority_months column is in Int, let's work on account start date.

In [47]:
# Convert the date_column to datetime dtype
train_df['Account_Start_Date'] = pd.to_datetime(train_df['Account_Start_Date'])

# Check the data type after conversion
print(train_df['Account_Start_Date'].dtype)  # Output: datetime64[ns]

datetime64[ns]

In [48]:
# Convert the date_column to datetime dtype
test_df['Account_Start_Date'] = pd.to_datetime(test_df['Account_Start_Date'])

# Check the data type after conversion
print(test_df['Account_Start_Date'].dtype)  # Output: datetime64[ns]

datetime64[ns]

In [49]:
train_df['Estimated_start_date'] = train_df['Data_Partition_Date'] - pd.to_timedelta(train_df['Seniority_Months'], unit= 'm')

In [50]:
# Fill missing values in 'Account_Start_Date' with the calculated values
train_df['Account_Start_Date'] = train_df['Account_Start_Date'].fillna(train_df['Estimated_start_date'])

### Lets move to next column with New_Customer_Indicator Column

In [51]:
unique_values = train_df['New_Customer_Indicator'].value_counts()
print(unique_values)

0.0    12808368
1.0      811207
Name: New_Customer_Indicator, dtype: int64

In [52]:
# Step 1: Replace NaN values with 0
train_df['New_Customer_Indicator'] = train_df['New_Customer_Indicator'].fillna(0)

# Step 2: Convert the column to integer
train_df['New_Customer_Indicator'] = train_df['New_Customer_Indicator'].astype(int)

# Verify the changes
print(train_df['New_Customer_Indicator'].dtype)  # Should be int
print(train_df['New_Customer_Indicator'].unique())  # Should show [0, 1]

int32
[0 1]

### Now let's move to next column

In [53]:

unique_values = train_df['Customer_Relationship_Type'].value_counts()
print(unique_values)

1.0     13594782
99.0       24793
Name: Customer_Relationship_Type, dtype: int64

In [54]:
train_df['Customer_Relationship_Type'] = train_df['Customer_Relationship_Type'].fillna(1)

In [55]:
train_df['Customer_Relationship_Type'] = train_df['Customer_Relationship_Type'].astype(int)

### Next column - Last_Primary_Customer_Date

In [56]:
train_df['Last_Primary_Customer_Date'] = pd.to_datetime(train_df['Last_Primary_Customer_Date'])

In [57]:
# Fill NaN values with a specific placeholder date (e.g., '1900-01-01')
train_df['Last_Primary_Customer_Date'] = train_df['Last_Primary_Customer_Date'].fillna(pd.to_datetime('1900-01-01'))

In [85]:
test_df['Last_Primary_Customer_Date'] = pd.to_datetime(test_df['Last_Primary_Customer_Date'])

In [86]:
# Fill NaN values with a specific placeholder date (e.g., '1900-01-01')
test_df['Last_Primary_Customer_Date'] = test_df['Last_Primary_Customer_Date'].fillna(pd.to_datetime('1900-01-01'))

### Lets move to next column - Initial_Customer_Type

In [58]:
unique_values= train_df['Initial_Customer_Type'].value_counts()
print(unique_values)

1.0    7277607
1.0    4017746
1      2195328
3.0       1804
3.0       1409
3         1137
P          874
2          483
2.0        479
2.0        355
4.0        143
4.0         93
4           70
Name: Initial_Customer_Type, dtype: int64

In [59]:
train_df['Initial_Customer_Type'] = train_df['Initial_Customer_Type'].fillna(1)

In [60]:
train_df['Initial_Customer_Type'] = train_df['Initial_Customer_Type'].astype(str).str.replace('.0', '')

C:\Users\bhavy\AppData\Local\Temp\ipykernel_21572\613794643.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  train_df['Initial_Customer_Type'] = train_df['Initial_Customer_Type'].astype(str).str.replace('.0', '')

In [61]:
test_df['Initial_Customer_Type'] = test_df['Initial_Customer_Type'].fillna(1)

In [62]:
test_df['Initial_Customer_Type'] = test_df['Initial_Customer_Type'].astype(str).str.replace('.0', '')

C:\Users\bhavy\AppData\Local\Temp\ipykernel_21572\4048615097.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  test_df['Initial_Customer_Type'] = test_df['Initial_Customer_Type'].astype(str).str.replace('.0', '')

### Lets move to next column - Initial_Relationship_Type

In [63]:
unique_values = test_df['Initial_Relationship_Type'].value_counts()
print(unique_values)

I    535943
A    393622
P        27
Name: Initial_Relationship_Type, dtype: int64

In [64]:
train_df['Initial_Relationship_Type'] = train_df['Initial_Relationship_Type'].fillna('I')

In [65]:
train_df['Initial_Relationship_Type'] = train_df['Initial_Relationship_Type'].replace('N', 'I')

In [66]:
test_df['Initial_Relationship_Type'] = test_df['Initial_Relationship_Type'].fillna('I')

### Lets move to next column - Residence_Indicator

In [67]:
unique_values= train_df['Residence_Indicator'].value_counts()
print(unique_values)

S    13553711
N       65864
Name: Residence_Indicator, dtype: int64

In [68]:
train_df['Residence_Indicator'] = train_df['Residence_Indicator'].fillna('S')

In [69]:
train_df['Residence_Indicator'] = train_df['Residence_Indicator'].replace({'S': 'Yes', 'N': 'No'})

### Lets move to next column - Foreigner_Indicator

In [70]:
unique_values= train_df['Foreigner_Indicator'].value_counts()
print(unique_values)

N    12974839
S      644736
Name: Foreigner_Indicator, dtype: int64

In [71]:
train_df['Foreigner_Indicator'] = train_df['Foreigner_Indicator'].fillna('N')

In [72]:
train_df['Foreigner_Indicator'] = train_df['Foreigner_Indicator'].replace({'S': 'Yes', 'N': 'No'})

### Lets move to next column - Employee_spouse_indicator

In [78]:
unique_values=train_df['Employee_Spouse_Indicator'].value_counts()
print(unique_values)

0.0    13647292
1.0          17
Name: Employee_Spouse_Indicator, dtype: int64

In [75]:
# Start by encoding 'Employee_Spouse_Indicator' to numeric (S: 1, N: 0)
train_df['Employee_Spouse_Indicator'] = train_df['Employee_Spouse_Indicator'].replace({'S': 1, 'N': 0})

In [77]:
train_df['Employee_Spouse_Indicator'] = train_df['Employee_Spouse_Indicator'].fillna(0)

In [81]:
train_df['Employee_Spouse_Indicator'] = train_df['Employee_Spouse_Indicator'].astype('category')

In [88]:
# Start by encoding 'Employee_Spouse_Indicator' to numeric (S: 1, N: 0)
test_df['Employee_Spouse_Indicator'] = test_df['Employee_Spouse_Indicator'].replace({'S': 1, 'N': 0})

In [89]:
test_df['Employee_Spouse_Indicator'] = test_df['Employee_Spouse_Indicator'].fillna(0)

In [90]:
test_df['Employee_Spouse_Indicator'] = test_df['Employee_Spouse_Indicator'].astype('category')

In [92]:
train_df.head(2)

,Data_Partition_Date,Customer_ID,Employee_Status,Country_of_Residence,Gender,Age,Account_Start_Date,New_Customer_Indicator,Seniority_Months,Customer_Relationship_Type,Last_Primary_Customer_Date,Initial_Customer_Type,Initial_Relationship_Type,Residence_Indicator,Foreigner_Indicator,Employee_Spouse_Indicator,Joining_Channel,Deceased_Indicator,Address_Type,Province_Code,Province_Name,Customer_Activity_Indicator,Household_Income,Customer_Segment,Savings_Account,Guarantee_Account,Current_Account,Derivative_Account,Payroll_Account,Junior_Account,Mas_Particular_Account,Particular_Account,Particular_Plus_Account,Short_term_Deposits,Medium_term_Deposits,Long_term_Deposits,E_Account,Funds_Account,Mortgage_Account,Pension_Account,Loan_Account,Tax_Account,Credit_Card_Account,Securities_Account,Home_Account,Payroll_Account,Pension_Account,Direct_Debit,Customer_ID_numeric,Estimated_start_date,Employee_Spouse_Indicator_encoded
0,2015-01-28,1375586,N,ES,M,35.0,2015-01-12,0,6,1,1900-01-01,1,A,Yes,No,0.0,KHL,N,1.0,29.0,MALAGA,1.0,87218.10,02 - PARTICULARES,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1375586,2015-01-27 23:54:00,NaN
1,2015-01-28,1050611,N,ES,F,23.0,2012-08-10,0,35,1,1900-01-01,1,I,Yes,Yes,0.0,KHE,N,1.0,13.0,CIUDAD REAL,0.0,35548.74,03 - UNIVERSITARIO,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.0,0.0,0,1050611,2015-01-27 23:25:00,NaN

### Next column - Joining_channel

In [ ]:
unique_values= train_df['Joining_Channel'].value_counts()
print(unique_values.head(20))

In [104]:
# Get the top 10 most frequent joining channels
top_channels = train_df['Joining_Channel'].value_counts().head(10).index.tolist()

# Fill NA values with the most frequent channel (you can adjust this to a random choice or a specific channel)
train_df['Joining_Channel'] = train_df['Joining_Channel'].fillna(pd.Series(top_channels).sample(frac=1).iloc[0])

In [108]:
# Get the top 10 most frequent joining channels
top_channels = test_df['Joining_Channel'].value_counts().head(10).index.tolist()

# Fill NA values with the most frequent channel (you can adjust this to a random choice or a specific channel)
test_df['Joining_Channel'] = test_df['Joining_Channel'].fillna(pd.Series(top_channels).sample(frac=1).iloc[0])

In [109]:
test_df['Joining_Channel'].isna().sum()

0

### Next column - Deceased_Indicator

In [117]:
unique_values=train_df['Deceased_Indicator'].value_counts()
print(unique_values)

N    13612547
S       34762
Name: Deceased_Indicator, dtype: int64

In [115]:
train_df['Deceased_Indicator'] = train_df['Deceased_Indicator'].fillna('N')

### Next Column -Address_Type

In [123]:
unique_values = train_df['Address_Type'].value_counts()
print(unique_values)

1    13647309
Name: Address_Type, dtype: int64

In [121]:
train_df['Address_Type'] = train_df['Address_Type'].fillna(1)

In [122]:
train_df['Address_Type'] = train_df['Address_Type'].astype(int)

### Next column - Province_Code and Province_Name

In [142]:
train_df['Province_Code'].isna().sum()

0

In [141]:
train_df['Province_Name'].isna().sum()

0

In [140]:
mode_province_code = train_df['Province_Code'].mode()[0]
mode_province_name = train_df['Province_Name'].mode()[0]

train_df['Province_Code'] = train_df['Province_Code'].fillna(mode_province_code)
train_df['Province_Name'] = train_df['Province_Name'].fillna(mode_province_name)

In [144]:
mode_province_code = test_df['Province_Code'].mode()[0]
mode_province_name = test_df['Province_Name'].mode()[0]

test_df['Province_Code'] = test_df['Province_Code'].fillna(mode_province_code)
test_df['Province_Name'] = test_df['Province_Name'].fillna(mode_province_name)

### Next Column - Customer_Activity_Indicator

In [156]:
test_df['Customer_Activity_Indicator'].isna().sum()

0

In [150]:
unique_values = test_df['Customer_Activity_Indicator'].value_counts()
print(unique_values)

0    534276
1    395339
Name: Customer_Activity_Indicator, dtype: int64

In [153]:
# Fill missing values proportionally
activity_proportions = train_df['Customer_Activity_Indicator'].value_counts(normalize=True)
missing_mask = train_df['Customer_Activity_Indicator'].isna()

train_df.loc[missing_mask, 'Customer_Activity_Indicator'] = np.random.choice(
    activity_proportions.index, 
    size=missing_mask.sum(), 
    p=activity_proportions.values
)

In [154]:
# Convert to int
train_df['Customer_Activity_Indicator'] = train_df['Customer_Activity_Indicator'].astype(int)

### House hold income

In [190]:
train_df['Household_Income']=train_df['Household_Income'].fillna(method='ffill')
train_df['Household_Income']=train_df['Household_Income'].fillna(method='bfill')

In [189]:
unique_values = train_df['Household_Income'].value_counts()
print(unique_values)

451931.22    5582
463625.16    1743
181042.20    1493
128318.52    1404
105260.88    1354
             ...
100303.05       1
119497.38       1
74566.20        1
78719.40        1
133142.67       1
Name: Household_Income, Length: 520993, dtype: int64

In [191]:
train_df['Household_Income'].isna().sum()

0

## next column - Customer segmentation

In [198]:
unique_values=train_df['Customer_Segment'].value_counts()
print(unique_values)

02 - PARTICULARES     7960220
03 - UNIVERSITARIO    4935579
01 - TOP               562142
Name: Customer_Segment, dtype: int64

In [ ]:
train_df['Customer_Segment'] = train_df['Customer_Segment'].fillna(train_df['Customer_Segment'].mode()[0])

In [203]:
test_df['Customer_Segment'] = test_df['Customer_Segment'].fillna(train_df['Customer_Segment'].mode()[0])

In [215]:
train_df.isna().sum()

Data_Partition_Date                0
Customer_ID                        0
Employee_Status                    0
Country_of_Residence               0
Gender                             0
Age                                0
Account_Start_Date                 0
New_Customer_Indicator             0
Seniority_Months                   0
Customer_Relationship_Type         0
Last_Primary_Customer_Date         0
Initial_Customer_Type              0
Initial_Relationship_Type          0
Residence_Indicator                0
Foreigner_Indicator                0
Employee_Spouse_Indicator          0
Joining_Channel                    0
Deceased_Indicator                 0
Address_Type                       0
Province_Code                      0
Province_Name                      0
Customer_Activity_Indicator        0
Household_Income                   0
Customer_Segment                   0
Savings_Account                    0
Guarantee_Account                  0
Current_Account                    0
Derivative_Account                 0
Payroll_Account                    0
Junior_Account                     0
Mas_Particular_Account             0
Particular_Account                 0
Particular_Plus_Account            0
Short_term_Deposits                0
Medium_term_Deposits               0
Long_term_Deposits                 0
E_Account                          0
Funds_Account                      0
Mortgage_Account                   0
Pension_Account                    0
Loan_Account                       0
Tax_Account                        0
Credit_Card_Account                0
Securities_Account                 0
Home_Account                       0
Payroll_Account                16063
Pension_Account                16063
Direct_Debit                       0
dtype: int64

## Next column

In [214]:
train_df['Payroll_Account'].describe

<bound method NDFrame.describe of           Payroll_Account  Payroll_Account
0                       0              0.0
1                       0              0.0
2                       0              0.0
3                       0              0.0
4                       0              0.0
...                   ...              ...
13647304                0              0.0
13647305                0              0.0
13647306                0              0.0
13647307                0              0.0
13647308                0              0.0

[13647309 rows x 2 columns]>